<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">


  <title>报修页面</title>

  <!--data table-->
  <link rel="stylesheet" href="../js/data-tables/DT_bootstrap.css" />

  <link href="../css/style.css" rel="stylesheet">
  <link href="../css/style-responsive.css" rel="stylesheet">


</head>

<body class="sticky-header">

<section>
    <!-- 左边导航-->
    <div class="left-side sticky-left-side">

        <!--两个logo-->
        <div class="logo">
            <a href="#"><img src="../images/logo.png" alt=""></a>
        </div>

        <div class="logo-icon text-center">
            <a href="#"><img src="../images/logo_icon.png" alt=""></a>
        </div>
        <!--两个logo结束-->

        <div class="left-side-inner">

            <!-- 仅对移动设备可见 -->
            <!-- 仅对移动设备可见结束 -->

            <!--菜单-->
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li><a href="AdminHome.html"><i class="fa fa-home"></i> <span>主页</span></a></li>

                <li><a href="AdminRepair.html"><i class="fa fa-cogs"></i> <span>修理</span></a></li>

                <li><a href="#"><i class="fa fa-bullhorn"></i> <span>缴费</span></a></li>

                <li><a href="../index.html"><i class="fa fa-sign-in"></i> <span>登出</span></a></li>

            </ul>
            <!--菜单结束-->

        </div>
    </div>
    <!-- 左边导航end-->

    <!-- 右侧主体 -->
    <div class="main-content" >

        <!-- 头部显示栏-->
        <div class="header-section">


            <!--搜索框 - 删除-->


            <!--基本信息 -->
            <div class="menu-right">
                <ul class="notification-menu">
                    <!--通知栏-->
                    <!--通知栏结束-->
                    <li>
                        <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <img src="/img/photo" alt="" />
                            {{name}}
                            <span class="caret"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <!--基本信息 -->

        </div>
        <!-- 头部显示栏end-->

        <!-- 页面主体的头部-->
        <div class="page-heading">
            <h3>
                缴费页面
            </h3>
            <ul class="breadcrumb">
                <li>缴费标准表</li>
                <li>缴费信息表</li>
            </ul>
        </div>
        <!-- 页面主体的头部end-->

        <!--主体-->
        <div id="chen" class="wrapper">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="profile-desk">
                                <h1>缴费标准表</h1>

                                <section class="panel">
                                    <header class="panel-heading">

                                        <span class="tools pull-right">
                                </span>
                                    </header>
                                    <div class="panel-body">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>费用名</th>
                                                <th>单价</th>
                                                <th>单位</th>
                                                <th>删除操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr v-for="elem in list1">
                                                <td>{{elem.id}}</td>
                                                <td>{{elem.name}}</td>
                                                <td>{{elem.univalence}}</td>
                                                <td>{{elem.unit}}</td>
                                                <td><input type="button" value="删除" /></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </section>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="profile-desk">
                                <h1>修改或新增缴费项</h1>
                                <form method="post" class="form-signin" action="/admin/updateSta">
                                    <div class="login-wrap">
                                        <input type="text" name="id" class="form-control" placeholder="编号">
                                        <input type="text" name="name" class="form-control" placeholder="费用名">
                                        <input type="text" name="unit" class="form-control" placeholder="单位">
                                        <input type="text" name="univalence" class="form-control" placeholder="单价">
                                        <button class="btn btn-lg btn-login btn-block" type="submit">
                                            <i class="fa fa-check"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="profile-desk">
                                <h1>缴费信息表</h1>

                                <section class="panel">
                                    <header class="panel-heading">

                                        <span class="tools pull-right">
                                </span>
                                    </header>
                                    <div class="panel-body">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>账号</th>
                                                <th>费用名</th>
                                                <th>价格</th>
                                                <th>状态</th>
                                                <th>删除操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr v-for="pay in list2">
                                                <td>{{pay.id}}</td>
                                                <td>{{pay.account}}</td>
                                                <td>{{pay.name}}</td>
                                                <td>{{pay.price}}</td>
                                                <td>{{pay.state}}</td>
                                                <td><input type="button" value="删除" /></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="profile-desk">
                                <h1>新增用户缴费项</h1>
                                <form method="post" class="form-signin" action="/admin/updatePay">
                                    <div class="login-wrap">
                                        <input type="text" name="id" class="form-control" placeholder="编号">
                                        <input type="text" name="account" class="form-control" placeholder="账号">
                                        <input type="text" name="name" class="form-control" placeholder="费用名">
                                        <input type="text" name="price" class="form-control" placeholder="费用">
                                        <button class="btn btn-lg btn-login btn-block" type="submit">
                                            <i class="fa fa-check"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--主体end-->

        <!--页脚部分-->
        <footer>
            2022 &copy; 田园小区物业管理 by 辰
        </footer>
        <!--页脚部分end-->


    </div>
    <!-- 右侧主体end -->
</section>

<!--前后端分离代码实现-->
<script src="../package/axios.min.js"></script>
<script src="../package/vue.js"></script>
<script>
    function pay(id){
        alert(id);
    }

    window.onload=function (){
        var vue = new Vue({
            "el":"#chen",
            data:{
                list1:null,
                list2:null,
                name:null
            },
            beforeCreate(){
                axios({
                    method:"GET",
                    url:"/admin/getStandardInfo"
                })
                    .then(function (value) {
                        vue.list1 = value.data;
                    })
                    .catch(function (reason) {
                    });
            },
            created(){
                axios({
                    method:"GET",
                    url:"/admin/getPayInfo"
                })
                    .then(function (value) {
                        vue.list2 = value.data;
                    })
                    .catch(function (reason) {
                    });
                axios({
                    method:"GET",
                    url:"/admin/getName"
                })
                    .then(function (value) {
                        vue.name = value.data.name;
                    })
                    .catch(function (reason) {
                    });
            }
            ,
            methods:{
            }
        });
    }
</script>

</body>
</html>
